@using Magic_Counter.ViewModels
@using MudBlazor
@using ReactiveUI.Blazor
@inherits ReactiveInjectableComponentBase<PlayerViewModel>

<MudItem Class="ma-0 pa-0" sm="6" xs="6" id="playerFrame"
         Style="height:50%;">
    <div style="height: 100%; width: 100%; rotate: @(Angle)deg">
        <MudContainer Style="height: 100%;"
                      Class="ma-0 pa-5">
            <MudStack Spacing="0"
                      Justify="Justify.Center"
                      Style="height:inherit"
                      Class="ma-0 pa-0">
                <MudStack Spacing="0"
                          Row="true"
                          Class="ma-0 pa-0 flex-1 d-flex">

                    <MudStack Spacing="0" Class="d-flex gap-0">

                        @* <div class="flex-grow-1" /> *@
                        <MudIconButton Class="flex-grow-1"
                                       Variant="Variant.Text"
                                       Icon="@Icons.Material.Filled.Remove"
                                       OnClick="@(() => {ViewModel.AddMinusLife.Execute().Subscribe();  PlayerChanged.InvokeAsync(ViewModel.Player);})"
                                       Size="Size.Large" />
                    </MudStack>

                    <div class="d-flex flex-grow-1 gap-0">
                        <MudPaper Class="ma-0 pa-0 flex-1 flex-column d-flex">
                            <MudStack Class="ma-0 pa-0 flex-1 flex-column d-flex">
                                @* <MudItem Class="ma-0 pa-0 flex-grow-1"> *@
                                <MudStack Class="ma-0 pa-0 flex-grow-1" Spacing="0" Row>
                                    <div class="flex-grow-0">
                                        <MudIconButton Icon="@Icons.Material.Filled.Workspaces"
                                                       Class="flex-grow-0"
                                                       Size="Size.Large" />
                                    </div>

                                    <div class="flex-grow-1">
                                    </div>
                                    <MudStack Class="d-flex flex-column flex-grow-0 gap-0" Spacing="0">
                                        <div class="flex-grow-1"/>
                                        <div class="d-flex flex-grow-1">
                                            <div class="flex-grow-1"/>
                                            <MudText Style="font-size: 30vh;"
                                                     Class="flex-grow-0">
                                                @ViewModel.Player.LifePoints
                                            </MudText>
                                            <div class="flex-grow-1"/>
                                        </div>

                                        <div class="flex-grow-1"/>
                                    </MudStack>
                                    @*                                     <div Class="flex-grow-1">
                                    <MudIconButton Icon="@Icons.Material.Filled.Workspaces"
                                    Class="flex-grow-0"
                                    Size="Size.Large" />
                                    </div> *@

                                    <div class="flex-grow-1">
                                    </div>
                                    <div class="d-flex flex-grow-0">
                                        <div class="flex-grow-0">
                                        <MudIconButton Icon="@Icons.Material.Filled.AccountBox"
                                                       Class="flex-grow-0"
                                                       Size="Size.Large" />
                                        </div>

                                    </div>
                                </MudStack>
                                @* </MudItem> *@
                            </MudStack>
                        </MudPaper>
                    </div>
                    <MudStack Spacing="0" Class="d-flex gap-0">
                        @* <div class="flex-grow-1" /> *@
                        <MudIconButton Class="flex-grow-1"
                                       Variant="Variant.Text"
                                       Icon="@Icons.Material.Filled.Add"
                                       OnClick="@(() => {ViewModel.AddLifePoints.Execute().Subscribe();  PlayerChanged.InvokeAsync(ViewModel.Player);})"
                                       Size="Size.Large" />
                    </MudStack>

                </MudStack>
            </MudStack>
        </MudContainer>
    </div>
</MudItem>